<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>


<p><div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="http://animalia-life.com/data_images/dog/dog4.jpg" alt="">
      </div>
 <div class="col-lg-10 col-lg-offset-2 col-sm-6">     
   <h2>
     <div class="row">    
     <p><%= @gsi.name %></p>
     <p><%= @gsi.average_rating %></p>
     <p><%= @gsi.description %><p>
   </h2>
 </div>
   <br>
   <br>
  <% @comments.each do |c| %>
    <div id="full-content">
       <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 col-lg-5 text-center">
              <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-5 col-sm-4">
              <h3>Post Heading Here</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>Comment on July 13th:
                     <div class="comment">
        <h4>
            <b>
              <em>
                <%= c.title %>
              </em>
            </b>
        </h4>
        <b><h5>
          <%= c.rating %>
        </h5></b>
        <h4>
          <%= c.content %>
        </h4>
      </div>
      <div class="replys">
      <h5>
        <% Reply.where(comment_id: c.id).each do |r| %>
          <%= r.content %>
          <br>
        <% end %>
      </h5>
      </div>
      <button type="button" class="btn-sm"><div>
        <%= link_to "Reply", new_gsi_comment_reply_path(@gsi,c) %>
      </div></button>
    </div>



                  </p>
                  
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

  <% end %>
          
     
</p>
<br>
  <p>
    <%= form_for @new_comment, url: gsi_comments_path(@gsi), html: { class: 'form-inline', id: 'task_form', role: 'form'}, remote: true do |f| %>      
      <p>
        <div class="form-group">
          <p>
            <%= label_tag(:title, "Title: ") %>
            <br>
            <%= f.text_field :title, class: 'form-control task_desc' %>
          </p>
          <p>
            <%= label_tag(:rating, "Rating: ") %>
            <br>
            <%= f.number_field :rating, class: 'form-control task_desc', :placeholder => "0-100" %>
          </p>
          <p>
            <%= label_tag(:content, "Content: ") %>
            <br>
            <%= f.text_field :content, class: 'form-control task_desc' %>
          </p>
        </div>
      </p>
      <p>
        <%= f.submit "Comment", class: "btn btn-primary submit-btn" %>
      </p>
    <% end %>
  </p>
</p>
<style>

</style>
