
<p><div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= link_to gsi_comments_path(@gsi) do %>
            <%= image_tag(@gsi.img_url) %>
          <% end %>
      </div>
 <div class="col-lg-5 col-lg-offset-2 col-sm-6">     
   <h2>
     <p><%= @gsi.name %></p>
     <span class="label label-default">
       <%= @gsi.average_rating %>
     </span>
     <br><br>
     <p><%= @gsi.description %><p>
   </h2>
   <br>
  <% @comments.each do |c| %>
    <div id="full-content">
      <div class="comment">
        <h4>
            <b>
              <em>
                <%= c.title %>
              </em>
            </b>
        </h4>
        <b><h5>
        <span class="label label-default">
          <%= c.rating %>
        </span>
        </h5></b>
        <h4>
          <%= c.content %>
        </h4>
      </div>
      <div class="replys">
      <h5>
        <% Reply.where(comment_id: c.id).each do |r| %>
          <div id="followup">
            <%= r.content %>
          </div>
        <% end %>
      </h5>
      </div>
      <button type="button" class="btn-sm"><div>
        <%= link_to "Reply", new_gsi_comment_reply_path(@gsi,c) %>
      </div></button>
    </div>
    <br>
  <% end %>
  <br>
</p>
<br>
  <p>
  <!-- delete remote: true -->
    <%= form_for @new_comment, url: gsi_comments_path(@gsi), html: { class: 'form-inline', id: 'task_form', role: 'form'} do |f| %>      
      <p>
        <div class="form-group">
          <p>
            <%= label_tag(:title, "Title: ") %>
            <br>
            <%= f.text_field :title, class: 'form-control task_desc' %>
          </p>
          <p>
            <%= label_tag(:rating, "Rating: ") %>
            <br>
            <%= f.number_field :rating, class: 'form-control task_desc', :placeholder => "0-100" %>
          </p>
          <p>
            <%= label_tag(:content, "Content: ") %>
            <br>
            <%= f.text_field :content, class: 'form-control task_desc' %>
          </p>
        </div>
      </p>
      <p>
        <%= f.submit "Comment", class: "btn btn-primary submit-btn" %>
      </p>
    <% end %>
  </p>
</p>
<style>
#followup {
    width: 320px;
    padding: 5px;
    border: 1px solid gray;
    margin: 0; 
}
</style>
